* { box-sizing: border-box; }

body{
    background-color: #fcebb6;
    color: #221811;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    background-image: url('Images/background.gif')
}

header{
    background-color: #d2b48c;
    text-align: center;
    height: 150px;
    background-image: url('Images/javajamlogo.jpg');
    background-repeat: no-repeat;
}

h1{
    padding-top: 45px;
    padding-left: 220px;
    line-height: 200%;
}

h4{
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0em;
    text-transform: uppercase; 
    border-bottom: solid 2px #221811;
    clear:left;
}

nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
}

nav a {
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

nav a:link {color:#fef6c2}
nav a:visited {color:#d2b48c}
nav a:hover {color:#221811}


footer{
    background-color: #d2b48c;
    text-align: center;
    font-size: 0.6em;
    font-style: italic;
    padding-bottom: 10px;
    border-top: solid 2px #221811;
}

#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px 3px #333333 
}

#details{  
    line-height: 200%;
    background-color: #d2b48c;
}

.details{
    padding: 0em 10% 0em 10%;
    overflow: auto;
}

main{
    padding: 0em 0em 2em 0em;
    margin-left: 200px;
    background-color: #fef6c2;
}

main h2, main h3, main h4, main p, main div, main ul, main dl{
    padding: 0em 3em 0em 2em;
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url('Images/heroroad.jpg');
    background-size: 100%;
    height: 250px;
}

#heroguitar {
    background-image: url('Images/heroguitar.jpg');
    background-size: 100%;
    height: 250px;
}

#heromugs {
    background-image: url('Images/heromugs.jpg');
    background-size: 100%;
    height: 250px;
}

#herojobs {
    background-image: url('Images/herojobs.jpg');
    background-size: 100%;
    height: 250px;
}

.floatleft{
    float: left;
    padding: 0em 2em 2em 0em;
}

header, nav, main, footer {display: block;}

table{
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    border-spacing: 0;
    background-color: #FFFFCC;
}

td, th{
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color: #d2b48c;
}

label{
    width: 8em;
    padding-right: 1em;
    text-align: right;
    float: left;
}

input, textarea{
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left: 9.5em;
}

#myReset{
    margin-left: 16em;
    margin-top: -2.6em;
}